* {
	margin: 0px;
	padding: 0px;
}
.row {
	width: 100%;
}

section {
	/*background-image: linear-gradient(0deg, #0c0ae7, #3c5aed, #3f92f2, #0cc9f5);*/
	background-image: url(http://bpic.588ku.com/back_pic/03/71/88/2857b855cd13f58.jpg);
	background-size: 100% 100%;
}

.head-nav, .left-up, .left-mid, .left-down, .right-search, .right-content {
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 1px 1px 2px #888888;
}
.right-header {
	background-color: rgb(242, 242, 242);
}

.head-info {
	/*border: 1px solid red;*/
	margin: auto;
	width: 60%;
	height: 250px;
	text-align: center;
	margin-top: 30px;
	background-image: linear-gradient(0deg, #4084d7, #4096cf, #39a9c7, #29bbbe);
	border-radius: 5px;
}
.body-info {
/*	border: 1px solid blue;*/
	margin: auto;
	margin-top: 30px;
	width: 60%;
	height: 700px;
}
.head-info .img-circle {
	width: 70px;
	height: 70px;
	margin-top: 20px;
}
.nickname {
	margin-top: 5px;
	font-family: "Courier New";
	font-weight: 700;
	font-size: 16px;
}
.head-nav {
	height: 40px;
	margin-top: 65px;
	/*border: 1px solid black;*/
	margin-left: 0px;
	font-size: 17px;
	display: flex;
	justify-content: space-around;
}
.head-nav span {
	line-height: 40px;
}
.head-nav span a {
	text-decoration: none;
	color: black;
}



.body-left {
	height: 700px;
	/*border: 1px solid #5ACC00;*/
	padding-left: 0px;
	padding-right: 0px;
}
.body-right {
	height: 700px;
	/*border: 1px solid #000000;*/
	padding-left: 0px;
	padding-right: 0px;
}
.left-up {
	height: 60px;
	/*border: 1px solid blue;*/
}
.tb-counter {
	text-align: center;
	width: 100%;
	height: 100%;
}
.tb-counter tbody tr td {
	border-left: 1px solid #b8b8b8;
	border-right: 1px solid #b8b8b8;
}
.tb-counter tbody tr td a {
	text-decoration: none;
}
.tb-number {
	display: block;
}

.left-mid {
	height: 180px;
	margin-top: 30px;
	/*border: 1px solid red;*/
}
.user-grade {
	width: 100%;
	height: 40%;
	line-height: 72px;
	border-bottom: 1px solid #b8b8b8;
}
.user-data {
	width: 100%;
	height: 40%;
	line-height: 72px;
	border-bottom: 1px solid #b8b8b8;
}
.edit-user-data {
	width: 100%;
	height: 20%;
	text-align: center;
	line-height: 36px;
}
.edit-user-data a {
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
}
.user-grade p, .user-data p, .user-data strong {
	margin-left: 10px;
}


.left-down {
	height: 360px;
	margin-top: 30px;
	/*border: 1px solid #FF5A00;*/
}
.imgs-head {
	width: 100%;
	height: 10%;
	line-height: 36px;
	font-size: 16px;
	font-weight: 700px;
	border-bottom: 1px solid #b8b8b8;
}
.imgs-head p {
	margin-left: 10px;
}
.imgs-thumbs {
	width: 100%;
	height: 80%;
	line-height: 288px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #b8b8b8;
}
.imgs-more {
	width: 100%;
	height: 10%;
	line-height: 36px;
	text-align: center;
}
.imgs-more a {
	text-decoration: none;
	display: block;
	height: 100%;
	width: 100%;
}


.right-header {
	/*border: 1px solid #FFCCAA;*/
	height: 40px;
	line-height: 40px;
	display: flex;
	justify-content: space-between;
}
.right-search {
	height: 0px;
}
.right-search input {
	/*margin-top: 3px;*/
	height: 30px;
}

.right-navbar ul li {
	float: left;
	list-style: none;
	width: 60px;
	text-align: center;
}
.right-navbar ul li a {
	text-decoration: none;
	display: block;
	width: 100%;
	height: 100%;
}
.right-content {
	/*border: 1px solid black;*/
	margin-top: 20px;
	height: 600px;
	text-align: center;
}