<!DOCTYPE html>
<html>
<head>
	<title>个人中心</title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../css/User_Detail.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
</head>
<body>
	<div class="XF_navigation"></div>

	<div class="XF_main" style="border: 2px solid blue;">
		<div class="XF_header" align="center">
			<div class="XF_show">
				<div class="XF_head_img">
					<img src="https://userpic.codeforces.com/516508/title/ce8de4a82baf1a3b.jpg" class="round_icon">
				</div>
				<div class="XF_self_info">
					<a>username</a>
					<i class="fas fa-mars" style="color: blue"></i>
				</div>
				<div class="XF_self_intro">
					<a>介绍一下自己吧，让别人更了解你</a>
				</div>
			</div>
			<div class="XF_tab_bar">
				<table width="600" height ="40" border="0" id="tab_bar">
					<tr>
						<td>我的主页</td>
						<td>我的相册</td>
						<td>管理中心</td>
					</tr>
				</table>
			</div>
		</div>

		<div class="XF_main_page" style="border: 1px solid green;">
			<div class="test1"></div>
			<div class="test2"></div>
			<div class="test3"></div>
			<div class="test4"></div>
		</div>

	</div>


</body>
</html>